@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(/images/bodyBg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

svg {
  @apply inline
}